@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* font-family: 'Open Sans', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
/* font-family: 'Oswald', sans-serif; */

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b{
	font-weight: bold;
}

/* def's*/
html, body{
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #f8f8f8;
	min-width: 100px;
}

body > section,
footer{
	width: 100%;
	min-width: 1000px;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
:before,:after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

.container:before,
.container:after,
.container_fluid:before,
.container_fluid:after{
	display: table;
  content: " ";
}
.container:after,
.container_fluid:after{
	clear: both;
}

.container{
	width: 1000px;
	margin: 0 auto;
}
.container_fluid{
	width: 100%;
}

.left{
	float: left;
}
.right{
	float: right;
}

/* animation */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* popup */
.overflow{
	display: none;
	position: fixed;
	overflow: hidden;
	z-index: 10;
	top: 0;
	left: 0;
	align-items: center;

	width: 100%;
	height: 100%;
	background: rgba(0,0,0, .7);

	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
	.overflow.visible{
		display: flex;
	}
	.overflow .popup{
		margin: 0 auto;
		min-width: 600px;
		min-height: 300px;
		position: relative;
	}
	.close_btn{
		color: #f8f8f8;
		font-size: 35px;
		cursor: pointer;
		position: absolute;
		z-index: 11;
		top: -35px;
		right: 0;
	}

/* fake_play */
.fake_play{
	display: block;
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin-top: -34px;
	margin-left: -34px;
	width: 68px;
	height: 68px;
	background: #fec530;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0 0 0 9px rgba(254,197,48, .5);
	cursor: pointer;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	
}
	.fake_play:after{
		content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 28px;
    margin: 0 auto;
    border-style: solid;
    border-width: 14.5px 0 13.5px 19px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
	}
	.fake_play:hover{
   	-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		transform: scale(1.1);
	}

/* header */
#header{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 3;
}
	#header .logo{
		display: block;
		color: #fff;
	}

/* top */
section.start{
	width: 100%;
	height: 594px;
	position: relative;

	padding-top: 37px;
	-webkit-transition: background .3s ease;
	-o-transition: background .3s ease;
	transition: background .3s ease;
}
	section.start#youth{
		background: url('images/top_youth.jpg') no-repeat 50%;
		-webkit-background-size: cover;
		background-size: cover;
	}
		section.start .youth{
			display: none;
		}
		section.start#youth .youth{
			display: block;
		}
		section.start#youth h1{
			margin-top: -10px;
		}
		section.start#youth h1 span{
			display: inline-block;
			margin-bottom: 25px;
		}
	section.start#family{
		background: url('images/top_family.jpg') no-repeat 50% 40% fixed;
		-webkit-background-size: cover;
		background-size: cover;
	}
		section.start .family{
			display: none;
		}
		section.start#family .family{
			display: block;
		}
			section.start .family h1,
			section.start .travel h1{
				margin-top: 113px !important;
			}
			section.start .family h1:before{
				content: '';
				width: 231px;
				height: 164px;
				top: -82px;
				left: 201px;
				position: absolute;
				display: block;

				background: url('images/family_pair.png') no-repeat 0 0;
			}
			section.start .family h1 span{
				display: block;
				margin-top: 10px;
			}
	section.start#travel{
		background: url('images/top_travel.jpg') no-repeat 50%;
		-webkit-background-size: cover;
		background-size: cover;
	}
		section.start .travel{
			display: none;
		}
		section.start#travel .travel{
			display: block;
		}
		section.start .travel h1 span{
			display: block;
			margin-top: 13px;
		}
		section.start .travel h1:before{
			content: '';
			width: 470px;
			height: 235px;
			top: -95px;
			left: 138px;
			position: absolute;
			display: block;

			background: url('images/travel_pair.png') no-repeat 0 0;
		}
	
	section.start .newsletter_subscribe{
		position: absolute;
		bottom: 0;
		left: 0;
	}
		section.start .newsletter_subscribe:before{
			content: '';
			position: absolute;
			bottom: -57px;
			left: 373px;
			width: 25px;
			height: 57px;

			background: url('images/top_before.png') no-repeat 50%;
			z-index: 2;
		}
	section.start .newsletter_subscribe,
	section.footer_sendmail .newsletter_subscribe{
		width: 100%;
		padding: 33px 52px 28px 42px;

		background: #fec530;
	}
		section.footer_sendmail .input_sub{
			width: 435px;
		}
		.newsletter_subscribe h2{
			font-size: 30px;
			color: #404041;
			text-transform: uppercase;
			font-family: 'Oswald', sans-serif;
			font-weight: 700;
		}
		.newsletter_subscribe .input_sub{
			background: none;
			border: none;
			border-bottom: 1px solid #404041;
			outline: none;
			width: 340px;	
			margin-left: 65px;
			height: 28px;
			
			font-size: 16px;
			color: #404041;
			line-height: 28px;
		}

		::-webkit-input-placeholder {color:#404041;}
		::-moz-placeholder          {color:#404041;}
		:-moz-placeholder           {color:#404041;}
		:-ms-input-placeholder      {color:#404041;}

		.newsletter_subscribe .btn_sub{
			border: none;
			outline: none;
			height: 36px;
			width: 151px;
			
			cursor: pointer;
			text-align: center;
			color: #fec530;
			font-size: 16px;
			font-weight: 900;
			background: #942780;
			text-transform: uppercase;
			border-radius: 25px;

			-webkit-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
		}
			.newsletter_subscribe .btn_sub:hover{
				background-color: #fec530;
				color: #942780;
				box-shadow: 0 0 0 2px #942780;
			}
	
	section.start:before{
		content: '';
		height: 594px;
		width: 100%;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(0,0,0, .3);
	}

	section.start .about{
		position: relative;
		bottom: -50px;
		height: 500px;
		left: 0;
		padding: 40px 45px;
		z-index: 3;

		background: rgba(0,0,0, .4);
	}
	section.start .about .left_cont{
		color: #fff;
	}
		section.start .left_cont h1{
			margin-bottom: 20px;
			margin-top: -25px;
			position: relative;

			font-family: 'Oswald', sans-serif;
			font-size: 75px;
			text-transform: uppercase;
			font-weight: 700;
		}
			section.start .left_cont h1 span {
				font-size: 51px;
			}
		section.start .left_cont p{
			margin-bottom: 30px;

			font-size: 33px;
			font-family: 'Oswald', sans-serif;
			font-weight: 300;
		}
	section.start .about .right_cont{
		padding-left: 34px;
		width: 287px;
		border-left: 2px solid #fec530;

		color: #fff;
		font-size: 13px;
		line-height: 20px;
	}
		section.start .about .video {
			margin-bottom: 15px;
			position: relative;
		}

/* manual */
section.manual{
	padding-top: 170px;
	padding-bottom: 45px;
}
	section.manual > .container{
		background: url('images/manual_bg.png') no-repeat 264px 230px;
	}
	section.manual h2{
		margin-bottom: 20px;

		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		font-size: 32px;
		color: #3f3f40;
		font-weight: 300;
		position: relative;
	}
		section.manual h2:after{
			content: '';
			position: absolute;
			bottom: -12px;
			right: 0;
			width: 34px;
			height: 1px;
			background: #ec0681;
		}
		section.manual h2.skull:after{
			right: inherit;
			left: 0;
		}
	section.manual p{
		font-size: 16px;
		line-height: 24px;
		font-weight: 400;
		color: #3f3f40;
	}
	section.manual .block{
		position: relative;
	}
	section.manual .block > div{
		float: left;
	}
		.manual_first,
		.manual_second{
			text-align: right;
		}
		.manual_first .manual_content{
			margin-top: 128px;
		}
		.manual_second{
			margin-top: -70px;
		}
			.manual_second .manual_content{
				margin-top: 150px;
			}
		.manual_third{
			margin-top: 45px;
		}
			.manual_third .manual_content{
				margin-top: 117px;
				margin-left: 25px;
			}

/* video */
section.video{
	background: #404048;
	color: #fff;
	text-align: center;

	padding-bottom: 70px;
	position: relative;
}
	section.video:before{
		content: '';
		position: absolute;
		top: -57px;
		left: 50%;
		margin-left: -12px;
		width: 25px;
		height: 57px;

		background: url('images/video_before.png') no-repeat 50%;
		z-index: 2;
	}
	section.video h2{
		text-align: center;
		text-transform: uppercase;
		font-size: 32px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		color: #fec530;

		margin: 45px 0;
	}

	section.video .block {
		display: inline-block;
		position: relative;
	}
		section.video .block:nth-child(even){
			margin: 0 25px;
		}

/* evolution */
section.evolution{
	height: 492px;
	padding-top: 95px;
	position: relative;
}
	section.evolution:before{
		content: '';
		height: 492px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		background: rgba(0,0,0, .7);
	}
	section.evolution .container{
		position: relative;
		z-index: 3;
	}
	/* bg's */
	section.evolution.youth{
		background: url('images/evolution_bg.jpg') no-repeat 50%;
		-webkit-background-size: cover;
		background-size: cover;
	}
	section.evolution.family{
		background: url('images/evolution_bg_family.jpg') no-repeat 50%;
		-webkit-background-size: cover;
		background-size: cover;
	}
	section.evolution.travel{
		background: url('images/evolution_bg_travel.jpg') no-repeat 50%;
		-webkit-background-size: cover;
		background-size: cover;
	}
	/**/
	section.evolution .evolution_logo{
		display: block;
		width: 215px;
		margin-bottom: 35px;
	}
	section.evolution h2{
		text-transform: uppercase;
		font-size: 75px;
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		color: #fff;
	}
	section.evolution .evo_img{
		display: block;
		margin-top: 18px;
		margin-left: 55px;
	}
	section.evolution .left_cont{
	}
	section.evolution .right_cont{
		height: 160px;
		margin-top: 80px;
		border-left: 2px solid #fec530;
	}

/* footer */
#footer{
	background-color: #942780;
	position: relative;
}
	#footer .socials{
		text-align: center;
		padding-top: 60px;
		padding-bottom: 50px;
	}
		#footer .socials a{
			display: inline-block;
			margin: 0 15px;
			width: 23px;
			height: 23px;
			text-decoration: none;

			-webkit-transition: all .3s ease-in-out;
			-moz-transition: all .3s ease-in-out;
			-ms-transition: all .3s ease-in-out;
			-o-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;
		}
			#footer .socials a:hover{
		   	-webkit-transform: scale(0.9);
				-moz-transform: scale(0.9);
				transform: scale(0.9);
			}
			#footer .socials a.soc_1{
				background: url('images/soc_1.png') no-repeat 50%;
			}
			#footer .socials a.soc_2{
				background: url('images/soc_2.png') no-repeat 50%;
			}
			#footer .socials a.soc_3{
				background: url('images/soc_3.png') no-repeat 50%;
			}
			#footer .socials a.soc_4{
				background: url('images/soc_4.png') no-repeat 50%;
			}
			#footer .socials a.soc_5{
				background: url('images/soc_5.png') no-repeat 50%;
			}
	#footer .bottom{
		height: 35px;
		line-height: 35px;

		background: #852373;
		color: #fec530;
	}
		#footer .bottom .copy{
			font-size: 13px;
			font-weight: 600;
		}
		#footer .bottom .happy{
			text-decoration: none;
		}
